<div class="text-center">
    <table class="table table-borderless">
        <thead>
            <tr scope="row">
                <th scope="col"><a class="btn btn-primary colorChange" role="button" routerLink="/create">Create Employee</a>
                </th>
                <th scope="col"><a class="btn btn-success colorChange" role="button" routerLink="/list">Employee List</a></th>
            </tr>
        </thead>
    </table>
</div>
<br>
<hr class="seprater-dotter">
<div class="card">
    <router-outlet></router-outlet>
</div>