<div class="text-center">
  <table class="table table-borderless">
      <thead>
          <tr scope="row">
              <th scope="col"><a class="btn btn-primary colorChange" role="button" routerLink="/Users">Users</a>
              </th>
              <th scope="col"><a class="btn btn-success colorChange" role="button" routerLink="/Tasks">Tasks</a></th>
          </tr>
      </thead>
  </table>
</div>
<br>
<hr class="seprater-dotter">
<div class="card" style="align-items: center;">
  <router-outlet></router-outlet>
</div>
